---
import Layout from '../layouts/Layout.astro';
import {Catalogo as CatalogoComponent} from '../components/catalogo/Catalogo';
import "../styles/global.css";
import { getVehicles } from '../lib/api';

const vehicles = await getVehicles();
---
<Layout title="Catálogo - Somos Expertos en vehículos 4x4" description="Catálogo de vehículos 4x4" image="/frontis-autoloa.webp">
  <main>
      <CatalogoComponent vehicles={vehicles} client:load />
  </main>
</Layout>
